node_modules/
npm-debug.log*
*.log

dist/
build/

.env
.env.local
.env.development
.env.production

.vite/

.eslintcache

.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.local
*.bak
*.tmp

coverage/

uploads/